In [35]:
import pandas as pd
import numpy as np
import os
import datetime

In [36]:
pd.set_option('display.max_rows', 500)

In [37]:
def pull_data(path, year_start, year_end):
    files = os.listdir(path)
    years = [i for i in range(year_start,year_end+1)]
    dfs = []
    for file in files:
        file_no_extension = file.split('.')[0]
        year = int(file_no_extension.split('_')[1])
        if year in years:
            path_file = path+file
            dfs.append(pd.read_csv(path_file, low_memory=False, encoding_errors='ignore'))
    df = pd.concat(dfs)
    return df

In [38]:
path = '.\\data\\real_data\\listings\\Listings_2021.zip'
print(path)

.\data\real_data\listings\Listings_2021.zip

In [39]:
path = '.\\data\\real_data\\loans\\Loans_2021.zip'
print(path)

.\data\real_data\loans\Loans_2021.zip

In [40]:
path = '..\\data\\real_data\\listings\\'
year_start = 2021
year_end = 2022
listings_df = pull_data(path,year_start, year_end)
listings_df = listings_df[~listings_df['loan_origination_date'].isna()]
listings_df['loan_origination_date'] = listings_df['loan_origination_date'].apply(lambda x: datetime.datetime.strptime(str(x), "%Y-%m-%d %H:%M:%S"))

In [41]:
path = '..\\data\\real_data\\loans\\'
year_start = 2021
year_end = 2022
loans_df = pull_data(path,year_start, year_end)
loans_df = loans_df.reset_index(drop=True)
loans_df['origination_date'] = loans_df['origination_date'].apply(lambda x: datetime.datetime.strptime(str(x), "%Y-%m-%d %H:%M:%S"))

In [42]:
listings_df.dtypes.value_counts()

float64           514
int64             329
object             17
bool                4
datetime64[ns]      1
dtype: int64

In [43]:
loans_df.dtypes.value_counts()

float64           10
int64              6
object             4
datetime64[ns]     1
bool               1
dtype: int64

In [44]:
listing_summary_df= listings_df.describe(include='all').T
listing_summary_df['dtypes'] = listings_df.dtypes
loans_summary_df= loans_df.describe(include='all').T
loans_summary_df['dtypes'] = loans_df.dtypes

C:\Users\vinee\AppData\Local\Temp/ipykernel_2792/1938550275.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  listing_summary_df= listings_df.describe(include='all').T
C:\Users\vinee\AppData\Local\Temp/ipykernel_2792/1938550275.py:3: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  loans_summary_df= loans_df.describe(include='all').T

In [45]:
listing_summary_df

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max,dtypes
member_key,99468,97458,CF7B3723100487553FB7F2B,4,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object
listing_number,99468.0,NaN,NaN,NaN,NaT,NaT,12330607.742088,208603.418433,11757272.0,12193048.0,12369730.0,12498490.5,12650802.0,int64
credit_pull_date,0.0,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,float64
listing_start_date,99468,99467,2021-01-03 11:04:40.340000000,2,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object
listing_end_date,99468,99367,2021-02-28 11:00:32.380000000,4,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TUFicoDate,99468,99433,2021-01-01 12:32:36.4330000,3,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object
dti_wprosper_loan,99468.0,NaN,NaN,NaN,NaT,NaT,10.284005,3170.722302,0.0079,0.1443,0.2141,0.3001,1000000.0,float64
CoBorrowerApplication,99468,2,False,96624,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bool
CombinedDtiwProsperLoan,2844.0,NaN,NaN,NaN,NaT,NaT,0.210233,0.108443,0.0089,0.12815,0.18985,0.2741,0.6437,float64
CombinedStatedMonthlyIncome,2844.0,NaN,NaN,NaN,NaT,NaT,11842.039616,6490.440627,2375.75,7877.0625,10583.3333,14020.1667,100000.0,float64

In [46]:
loans_summary_df

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max,dtypes
loan_number,92149.0,NaN,NaN,NaN,NaT,NaT,1593014.223877,54519.550538,1492256.0,1547663.0,1595170.0,1638337.0,1694682.0,int64
amount_borrowed,92149.0,NaN,NaN,NaN,NaT,NaT,12792.596111,8123.664055,2000.0,6500.0,10000.0,16500.0,40000.0,int64
borrower_rate,92149.0,NaN,NaN,NaN,NaT,NaT,0.136972,0.049459,0.063,0.1024,0.1298,0.1633,0.3182,float64
prosper_rating,92149,7,A,23034,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object
term,92149.0,NaN,NaN,NaN,NaT,NaT,46.23768,11.869952,36.0,36.0,36.0,60.0,60.0,int64
age_in_months,92149.0,NaN,NaN,NaN,NaT,NaT,8.188065,3.395829,3.0,5.0,8.0,11.0,14.0,int64
origination_date,92149,252,2021-10-13 00:00:00,1030,2021-01-04,2021-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,datetime64[ns]
days_past_due,92149.0,NaN,NaN,NaN,NaT,NaT,1.573517,12.873183,0.0,0.0,0.0,0.0,289.0,int64
principal_balance,92149.0,NaN,NaN,NaN,NaT,NaT,9450.81402,7774.947033,0.0,3653.82,8179.09,13764.98,39046.58,float64
service_fees_paid,92149.0,NaN,NaN,NaN,NaT,NaT,-69.46511,60.561564,-441.32,-92.37,-52.03,-26.81,0.0,float64
principal_paid,92149.0,NaN,NaN,NaN,NaT,NaT,3315.382286,5230.097113,0.0,683.04,1439.43,3215.32,40000.0,float64
interest_paid,92149.0,NaN,NaN,NaN,NaT,NaT,865.116861,799.648109,0.0,318.63,626.39,1139.77,8636.48,float64
prosper_fees_paid,92149.0,NaN,NaN,NaN,NaT,NaT,1.119983,6.122502,0.0,0.0,0.0,0.0,165.0,float64
late_fees_paid,92149.0,NaN,NaN,NaN,NaT,NaT,0.478228,5.582524,0.0,0.0,0.0,0.0,292.5,float64
debt_sale_proceeds_received,92149.0,NaN,NaN,NaN,NaT,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,float64
loan_status,92149.0,NaN,NaN,NaN,NaT,NaT,1.447362,1.080655,1.0,1.0,1.0,1.0,6.0,int64
loan_status_description,92149,5,CURRENT,78291,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object
loan_default_reason,110.0,NaN,NaN,NaN,NaT,NaT,2.918182,0.592488,2.0,3.0,3.0,3.0,6.0,float64
loan_default_reason_description,110,4,Deceased,90,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object
next_payment_due_date,92149,431,2022-03-15 00:00:00,3520,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object
next_payment_due_amount,92149.0,NaN,NaN,NaN,NaT,NaT,291.928846,246.100398,0.0,103.83,256.66,421.41,1423.92,float64
co_borrower_application,92149,2,False,89450,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bool

In [47]:
dummy_dict = {}

for col in listing_summary_df.index:
    if (pd.isna(listing_summary_df.loc[col,'mean'])) & (pd.isna(listing_summary_df.loc[col,'std'])) & (listing_summary_df.loc[col,'dtypes'] != 'object'):
        dummy_dict[col] = [np.nan] * 1000
    elif listing_summary_df.loc[col,'dtypes']  in ['object','datetime64[ns]']:
        dummy_ids = listings_df[col].unique()
        dummy_dict[col] = np.random.choice(dummy_ids,1000)
    elif listing_summary_df.loc[col,'dtypes']  == 'bool':
        dummy_ids = [True,False]
        dummy_dict[col] = np.random.choice(dummy_ids,1000)
    elif listing_summary_df.loc[col,'dtypes']  in ['float64','int64'] :
        dummy_dict[col] = (listing_summary_df.loc[col,'std'] * np.random.randn(1000) + listing_summary_df.loc[col,'mean'])
    else:
        print(col)
dummy_df = pd.DataFrame(dummy_dict)
dummy_df.to_csv('..\\data\\dummy_data\\listings\\dummy_listings.csv', index=False)

In [48]:
left_on=['origination_date','amount_borrowed','borrower_rate','prosper_rating','term','co_borrower_application'],         

origination_date = dummy_dict['loan_origination_date']
amount_borrowed = dummy_dict['amount_funded']
borrower_rate = dummy_dict['borrower_rate']
prosper_rating = dummy_dict['prosper_rating']
term = dummy_dict['listing_term']
co_borrower_application = dummy_dict['CoBorrowerApplication']

In [49]:
dummy_dict = {}

for col in loans_summary_df.index:
    if (pd.isna(loans_summary_df.loc[col,'mean'])) & (pd.isna(loans_summary_df.loc[col,'std'])) & (loans_summary_df.loc[col,'dtypes'] != 'object'):
        dummy_dict[col] = [np.nan] * 1000
    elif loans_summary_df.loc[col,'dtypes']  in ['object','datetime64[ns]']:
        dummy_ids = loans_df[col].unique()
        dummy_dict[col] = np.random.choice(dummy_ids,1000)
    elif loans_summary_df.loc[col,'dtypes']  == 'bool':
        dummy_ids = [True,False]
        dummy_dict[col] = np.random.choice(dummy_ids,1000)
    elif loans_summary_df.loc[col,'dtypes']  in ['float64','int64'] :
        dummy_dict[col] = (loans_summary_df.loc[col,'std'] * np.random.randn(1000) + loans_summary_df.loc[col,'mean'])
    else:
        print(col)
# update key columns
dummy_dict['origination_date'] = origination_date
dummy_dict['amount_borrowed'] = amount_borrowed
dummy_dict['borrower_rate'] = borrower_rate
dummy_dict['prosper_rating'] = prosper_rating
dummy_dict['term'] = term
dummy_dict['co_borrower_application'] = co_borrower_application
dummy_df = pd.DataFrame(dummy_dict)
dummy_df.to_csv('..\\data\\dummy_data\\loans\\dummy_loans.csv', index=False)